
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;     

}

.container{
    width:100vw;
    height:100vh;
}

.textbox{
    position: absolute;
    top:30%;
    left:2%;
}

.searchbox
{
outline:none;
border:none;
background-color: transparent;
width: 4000px;
height: 30%;
color: white;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;
font-size: 80px;
font-weight:700;
font-family: Arial;
margin:0px;
float:left;
}

::placeholder {
    color: black;
    font-size: 80px;
}


.guide {
    font-family: Arial;
margin:0px;
position: absolute;
top:3px;
left:105px;
color:white;
font-size: smaller;
font-weight:lighter;
}